<div id="navbar"></div>

<h2>{{Head}}</h2>
<a href={{GoToProducts}} class="btn btn-primary" role="button">Back to products</a>

{{#if listExist}}
  <h4>Mi carrito</h4>
  <div class="container text-center mb-5">
    <div class="row row-gap-5">
      {{#each list}}
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{this.product.title}}</h5>
              <p class="card-text">{{this.product.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Code: {{this.product.code}}</li>
              <li class="list-group-item">Description:
                {{this.product.description}}</li>
              <li class="list-group-item">Price: ${{this.product.price}}</li>
              <li class="list-group-item">Quantity: {{this.quantity}}</li>
            </ul>
          </div>
        </div>
      {{/each}}
    </div>
    <button>Confirmar</button>
  </div>
{{else}}
  <p class="">Carrito vacio</p>
{{/if}}


<script src="/js/navbar.js"></script>